<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <a href="/admin/Products " class=" float-end btn-link text-info fw-normal">
            All Products
        </a>
        <section>
            <div class="container mt-4">
                <div class="row">

                    <div class="col-md-11 ">
                        <form action="/admin/addProduct" method="post" enctype="multipart/form-data" class="mt-4"
                            onsubmit="return validate()">

                            <div class="d-flex justify-content-around" style="width:100%;">
                                <div>
                                    <div class="d-flex">
                                        <div class="me-5" style="width:60%;">
                                            <label for="brandnameId">Brand Name</label> <a href="/admin/addBrandName"
                                                class="float-end btn-link text-info fw-light">add Brands</a>
                                            <select name="brandName" id="brandnameId" required="true"
                                                class="form-select">
                                                <option value="" disabled selected>Choose...</option>
                                                <% for( let i=0; i < brandName.length; i++ ) { %>
                                                    <option value="<%= brandName[i]._id %>">
                                                        <%= brandName[i].brandName %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>
                                        <div style="width:30%;">
                                            <label for="genderType">Gender Type :</label>
                                            <select name="gender" id="genderType" required="true" class="form-select">
                                                <option value="" disabled selected>Choose...</option>
                                                <% for( let i=0; i < gender.length; i++ ) { %>
                                                    <option value="<%= gender[i]._id %>">
                                                        <%= gender[i].gender %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>

                                    </div>


                                    <br>
                                    <div class="d-flex">
                                        <div class="me-5" style="width:50%;">
                                            <label for="productType">Product Type :</label>
                                            <select name="type" id="productType" required="true" class="form-select">
                                                <option value=""disabled selected>Choose...</option>
                                                <option value="Shirt">Shirt</option>
                                                <option value="T-Shirt">T-Shirt</option>
                                                <option value="Jeans">Jeans</option>
                                                <option value="CottonPants">Cotton Pants</option>
                                                <option value="Churidar">Churidar</option>
                                                <option value="Maxi">Maxi</option>
                                                <option value="Bottomwear">Bottomwear</option>
                                                <option value="Saree">Saree</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div style="width:50%;">
                                            <label for="category">Category :</label>
                                            <select name="category"  id="category" required="true" class="form-select">
                                                <option value=""disabled selected>Choose...</option>
                                                <option value="Formals">Formals</option>
                                                <option value="Casuals">Casuals</option>
                                                <option value="Innerwear">Innerwear</option>
                                                <option value="Partywear">Partywear</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>

                                    </div>

                                    <br>
                                    <div class="d-flex">
                                        <div class="me-5" style="width:50%;">
                                            <label for="retailPriceId">Retail Price</label>
                                            <input type="phone" onkeypress="return isNumberKey(event)" maxlength="10"
                                                size="10" name="retailPrice" class="form-control" id="retailPriceId"
                                                required>
                                        </div>
                                        <div style="width:50%;">
                                            <label for="shopPriceId">Shop Price</label>
                                            <input type="phone" onkeypress="return isNumberKey(event)" maxlength="10"
                                                size="10" name="shopPrice" class="form-control" id="shopPriceId"
                                                required>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex">
                                        <div class="me-4" style="width:45%;">
                                            <label for="sizeId">Size :</label>
                                            <select name="size" id="sizeId" required="true" class="form-select">
                                                <option value="" disabled selected>Choose...</option>
                                                <option value="X-Small">X-Small</option>
                                                <option value="Small">Small</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Large">Large</option>
                                                <option value="XL">XL</option>
                                                <option value="XXL">XXL</option>

                                            </select>
                                        </div>
                                        <div style="width:30%;" class="me-3">
                                            <label for="color1Id">Color 1 :</label>
                                            <select name="color1" id="color1Id" required="true" class="form-select">
                                                <option value="" disabled selected>Choose...</option>
                                                <option value="Black">Black</option>
                                                <option value="White">White</option>
                                                <option value="Green">Green</option>
                                                <option value="Blue">Blue</option>
                                                <option value="Orange">Orange</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div style="width:30%;">
                                            <label for="color2">Color 2 :</label>
                                            <select name="color2" id="color2" class="form-select">
                                                <option value="" disabled selected>Choose...</option>
                                                <option value="Black">Black</option>
                                                <option value="White">White</option>
                                                <option value="Green">Green</option>
                                                <option value="Blue">Blue</option>
                                                <option value="Orange">Orange</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <label for="descriptionId">Description</label>

                                    <textarea id="descriptionId" class="form-control" name="description"
                                        cols="40" required rows="4"></textarea>




                                </div>
                                <div class="">
                                    <div class="me-5" style="width:50%;">
                                        <label for="quantityId"> Quantity</label>
                                        <input type="number" maxlength="10" size="10" required name="quantity"
                                            class="form-control" id="quantityId">
                                        <br>
                                    </div>

                                    <label for="formFileLg">Image <span class="fw-light fs-6 text-black-50"> ( You can
                                            choose multiple images)</span></label><br>
                                    <input type="file" onchange="previewMultiple(event)" name="image"
                                        class="form-control" id="formFileLg" multiple required>

                                    <div id="galeria" class="mt-2"></div>
                                    <br>


                                    <button type="submit"
                                        class="btn btn-warning px-5 py-2 mt-5 float-end ">Submit</button>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
    function previewMultiple(event) {
        var saida = document.getElementById('formFileLg');
        var quantos = saida.files.length
        document.getElementById("galeria").innerHTML = '';

        for (i = 0; i < 5; i++) {
            var urls = URL.createObjectURL(event.target.files[i]);
            document.getElementById('galeria').innerHTML += '<img style="width:70px;" class="ml-1" src="' + urls + '">'

        }

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<% if (locals.msg) { %>
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Product added successfully',
            showConfirmButton: false,
            timer: 3500
        })
    </script>

    <% } %>




        <script>
            function validate() {
                if (document.getElementById("brandnameId").value === "" || document.getElementById("genderType").value === "" || document.getElementById('productType').value === "" || document.getElementById('category').value === "" || document.getElementById('retailPriceId').value === "" || document.getElementById('color1Id').value === "" || document.getElementById('shopPriceId').value === "" || document.getElementById('sizeId').value === "" || document.getElementById('imageId').value === "" || document.getElementById('descriptionId').value === "" || document.getElementById('quantityId').value === "") {
                    alert('Fill the essential columns')
                    return false
                } else if (isNaN(document.getElementById('shopPriceId').value) || isNaN(document.getElementById('retailPriceId').value)) {
                    alert("Price should be in number format")
                    return false
                } else if (isNaN(document.getElementById('quantityId').value)) {
                    alert("Quantity should be in number format")
                    return false
                } else {

                    return true
                }

            }
        </script>