<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">

        <section class="p4-5">
            <div class="container px-5 table-responsive">


                <div style="width:30%;" class="mb-4 ml-auto">
                    <form action="/admin/addBrandName" method="post">
                        <button type="submit" class="btn btn-link float-end">Add</button>
                        <input type="text" name="brandName" class="form-control border border-black border-3"
                            placeholder="Add brand name here">
                    </form>
                </div>


                <table class=" mt-4 table table-striped table-bordered" id="example1" style="width:100%">
                    <thead class="table-dark text-center">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Brand Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <% for( let i=0; i < brandName.length; i ++ ) { %>

                            <tr>

                                <td class="pl-3">
                                    <%= i+1 %>
                                </td>

                                <td class="fw-bold">
                                    <%= brandName[i].brandName %>
                                </td>

                                <td class="d-flex">
                                    <a href="/admin/EditBrandName/ " class="btn btn-primary mx-1 px-4 my-1">Edit</a>

                                    
                                    <form action="/admin/deleteBrandName/<%= brandName[i]._id %>" method="get">
                                        <button type="submit" onclick="archiveFunction()" class="btn btn-danger mx-1 my-1">Delete</button>
                                    </form>
                                </td>
                            </tr>

                            <% } %>


                    </tbody>
                </table>
            </div>


        </section>


    </div>
</div>

<script>
    function archiveFunction() {
        event.preventDefault(); // prevent form submit
        var form = event.target.form; // storing the form
        swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        },
            function (isConfirm) {
                if (isConfirm) {
                    form.submit();
                }
            });
    }

</script>


<script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#example1').DataTable();
    });
</script>