<!doctype html>
<html lang="en">

<head>
    <title>Login 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/adminlogin.css">


</head>

<body class="overflow-hidden">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <%- include('../userSide/includes/navbar') %>

        <div class="wrapper  fadeInDown" style="overflow-y:hidden;">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="/assets/images/logo.png" style="width:160px;" class="p-4" id="icon" alt="User Icon" />
                </div>
                <div class="p-5">
                    <!-- Login Form -->
                    <form >
                        <input type="email" id="login"
                            class="fadeIn second px-5 mt-1   py-4 bg-light border-0 form-control" name="email"
                            placeholder="Email Id" onkeyup="emailkey()">

                        <p class="float-start text-danger mb-1 fw-light opacity-75" id="emailidwarning"></p>


                        <input type="password" id="password"
                            class="fadeIn mt-3  third px-5 py-4 bg-light border-0 form-control" name="password"
                            placeholder="Password" onkeyup="passwordkey()">

                        <p class="float-start text-danger  mb-1 fw-light opacity-75" id="passwordidwarning"></p>


                        <input type="submit" onclick="validate()" class="fadeIn fourth mt-4  px-5" value="Log In">

                        <p class="text-danger" id="errmsg"></p>
                    </form>

                </div> <!-- Remind Passowrd -->
                <div id="formFooter" class="d-flex justify-content-between">
                    <a class="underlineHover" href="/forgetPassword">Forgot Password?</a>
                    <a class="underlineHover" href="/signup" style="color: #393f81;">Don't have an account?</a>
                </div>

            </div>
        </div>
        <script>
            let email = document.getElementById('login')
            let password = document.getElementById('password')
            let emailwarning = document.getElementById('emailidwarning')
            let passwordwarning = document.getElementById('passwordidwarning')
            function validate() {
                event.preventDefault();
                let form = event.target.form;
                let validation = true;
                document.getElementById("errmsg").innerHTML = ""
                emailwarning.innerHTML = "";
                passwordwarning.innerHTML = "";
                if (email.value === "") {
                    emailwarning.innerHTML = "Please enter your email id"
                    validation = false
                }
                if (password.value === "") {
                    passwordwarning.innerHTML = "Please enter your password"
                    validation = false
                } if (validation) {

                    try {
                        axios.post('/login', { email: email.value, password: password.value }).then((e) => {
                            if (!e.data.response) {
                                form.submit();
                                location.href = '/';
                            } else {
                                document.getElementById("errmsg").innerHTML = e.data.response;
                            }
                        })
                    } catch (error) {
                        console.log(error)
                    }
                }
            }
            function emailkey() {
                emailwarning.innerHTML = ""
            }

            function passwordkey() {
                passwordwarning.innerHTML = ""
            }
        </script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>


        </script>

        <script src="js/jquery.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>



</body>

</html>